:root {
  --dark: #091119;
  --dark2: #192139;
  --light: #fffdff;
  --light-50: #fffdff80;
}
body {
  user-select: none;
  background: var(--dark);
  color: var(--light);
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-bottom: 0.3vw solid var(--light-50);
  z-index: 2;
  box-shadow: var(--dark) 0px 0px 20vw;
}
h1 {
  font-size: 12vw;
  text-shadow: 0 0 10vw var(--light-50);
}
h2 {
  font-size: 6vw;
}
h3 {
  font-size: 5vw;
}
h6 {
  font-size: 3vw;
  opacity: 75%;
  margin-top: -5vw;
  font-weight: 300;
}
p,
a {
  font-size: 4vw;
  text-decoration: none;
  color: var(--light);
}
.anti-nav {
  height: 20vw;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.story {
  margin: 8vw;
  line-height: 7vw;
}
.characters {
  display: flex;
  justify-content: center;
}
.characters .loading {
  top: 0;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
}
.characters img {
  width: 80vw;
  z-index: 1;
  background: var(--dark);
  margin-bottom: 20vw;
}
.episodes {
  display: flex;
  flex-direction: column;
}
.episodes a {
  background: var(--dark2);
  margin: 2vw;
  padding: 4vw;
}
